@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');

body {
font-family: 'Playwrite CU Guides';
color: rgb(225, 2, 255);
background-color: rgb(249, 201, 255);
line-height: 4;

max-width: 900px;
margin:50px ;
text-align: center;
}

h1 {

    font-size: 60px;

    border-bottom: 3px dotted;

border-color: rgb(221, 12, 204);
border-radius: 20px;






}
ul {
    list-style-type: "🐱";
    font-size: xx-large;


}
