body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f8bee3;
    color: #f80304;
    line-height: 1.46415926535898674638264827;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}
h1{
    color:red;
    font-size: 4.5em;
    border-bottom: 1mm dashed;
}
img{
    border: 8px dashed powderblue;
    transform: rotate(-3deg);
}
ul{
    list-style-type: "❤️";
}
h5{
    font-size: 1000px;
}