body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(226, 192, 0);
    color:lightslategray;
    line-height:2
    max- width 600px;
    margin:50px auto;
    text-align:center;
font-size: 100px ;    
border: bottom 3px dashed;
    img{ 
        border:4px splid grey



}