body {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    color: hotpink;
    line-height: 2.5;

   max-width: 1000px;
margin: 50px auto;
text-align:left;

}

h1{
    font-size: 2em;
    border-bottom: 10px solid hotpink;
}

img {
    border:8px hotpink(255, 105, 180) solid;

}
