@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playwrite+CU+Guides&display=swap');
body {
font-family: 'Comfortaa', Times, serif;
background-color: rgb(245, 201, 225);
color: rgb(0, 0, 0);
line: height 1.5;
max-width: 600;
margin: 50px auto;
text-align: center;

}
ul{
text-align: left;
}
h1{ ;
font-size: 40px;
border-bottom: 3px none;
}
img{
border: 5px solid rgb(231, 136, 152) ;
}

ul {
    list-style-type:"ִ🐇";