body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #ff0000;
    line-height-
    
    ;

    max-width: 600px;
    margin: 50px auto;
    text-align: left;
font-size: medium;
image-rendering: ;



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































}







































































