body {
font-family: cursive;
background-color: rgb(255, 245, 229);
color: cadetblue;
line-height: normal;
max-width: ;
margin: 50px auto;
text-align: center;
font-size: larger;
border-bottom: 3px dashed;
border-top: 3px dashed;
}


img{
border: 10px solid rgb(223, 252, 207);
transform: rotate(-2deg);


} 

ul{
    list-style-type: "💩";
}

