    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: aqua;
        color: blueviolet;
        line-height: 2.5;

        max-width: 600px;
        margin: 50px auto;
        text-align: center;
        font-size: 30px;
        border-bottom: 3px dashed;
        ul {
            list-style-type:"❤️";

        }