body {
    font-family: 'Courier New';
    background-color: aquamarine;
    color:rgb(255, 60, 0);
    line-height: 4;
}

h1 {
    text-align: left;
    border-bottom: 3px dashed red;


border: 4px solid;
}
ul {
    list-style-type: "😀";
}


6
7